include *.txt
include LICENSE
include AUTHORS
include *.rst
include tox.ini
prune experiments
include tests/data
recursive-include tests *.eml
recursive-include tests *.py
recursive-include tests *.secretkey
