appdirs==1.4.3
asn1crypto==0.21.1
-e git+https://github.com/autocrypt/py-autocrypt@9f1c74f07afb28e4261c36efe8127c1a22516d18#egg=autocrypt&subdirectory=acpgpy
backports.shutil-get-terminal-size==1.0.0
cffi==1.9.1
click==6.7
codecov==2.0.5
coverage==4.3.4
coveralls==1.1
cryptography==1.8.1
decorator==4.0.11
docopt==0.6.2
enum34==1.1.6
idna==2.5
ipaddress==1.0.18
ipython==5.3.0
ipython-genutils==0.1.0
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
-e git+https://github.com/SecurityInnovation/PGPy.git@24f5daee6eab9b334197a0a2d7035dfaf1521a58#egg=PGPy
pickleshare==0.7.4
pkg-resources==0.0.0
pluggy==0.4.0
prompt-toolkit==1.0.13
ptyprocess==0.5.1
py==1.4.32
pyasn1==0.2.3
pycparser==2.17
Pygments==2.2.0
pytest==3.0.7
pytest-cov==2.4.0
requests==2.13.0
scandir==1.5
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
tox==2.6.0
traitlets==4.3.2
virtualenv==15.1.0
wcwidth==0.1.7
